<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <%- include('../partials/links'); %>
    </head>
    <body>
        <div class="register_error_background_image d-flex flex-column justify-content-center text-center">
            <h1 class="error_title">Opss! we are Extremely Sorry please Fill all the inputs in the Register Form</h1>
            <div>
                <a href="/registerPremiumMembers">
                  <button class="get_ready_to_book" >Register</button>
                </a>         
            </div>
    </body>
    </html>