<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%- include('../partials/links'); %>
  </head>
  <body>
    <div
      class="resvation_bg_image d-flex flex-column text-center justify-content-center"
    >
      <div>
        <h1 class="reservation_title">Reservation</h1>
      </div>
    </div>
    <div class="white_bg_form p-5 ">
      <div class="text-center d-flex flex-row justify-content-center">
        <div>
          <p class="reserve_your_table_today">Reserve your table today</p>
          <h1 class="make_a_reservation">Make a Reservation</h1>
          <hr class="hr" />
        </div>
      </div>
      <div class=" d-flex justify-content-center m-5">
        <div class="grey_bg_for_booking p-5">
            <form class="p-4"action="/booking_of_table" method="post">
              <div class="d-flex flex-row mt-3">
                <label id="icon" for="Name"><i class="fas fa-user"></i></label>
                <input type="text" class="form-control input_tags" placeholder="Name" id="Name" name="Name"/>
              </div>
              <div class="d-flex flex-row mt-3">
                <label id="icon" for="Email"><i class="fas fa-envelope"></i></label>
                <input type="email" class="form-control input_tags" placeholder="Email" id="Email" name="Email"/>
              </div>
              <div class="d-flex flex-row mt-3">
                <label id="icon" for="phone_number"><i class="fas fa-phone-alt"></i></label>
                <input type="tel" class="form-control input_tags" placeholder="Only Indian Phone Number" id="phone_number" name="phone_number"/>
              </div>
              <div class="d-flex flex-row justify-content-between mt-3 ">
                    <div>
                        <label id="icon" for="birthdaytime"><i class="fas fa-digital-tachograph"></i></label>
                        <input type="datetime-local" id="birthdaytime" placeholder="Birthday (date and time):" name="DateTime">
                    </div>       
                    <div>
                        <label  id="icon"  for="duration"><i class="fas fa-clock"></i></label>
                        <select class="form-control hour_input_tags" name= "duration">
                                <option name= "duration"  value="1 Hour">1 Hour</option>
                                <option name= "duration"  value="2 Hour">2 Hour</option>
                                <option name= "duration"  value="3 Hour">3 Hour</option>
                                <option name= "duration"  value="Full Day Party">Full Day Party</option>
                        </select>    
                    </div>                             
              </div>
              <div class="d-flex flex-row  justify-content-between mt-3 ">
                <div class="me-5">
                    <label  id="icons" for="Location"><i class="fas fa-map-marker-alt"></i></label>
                        <select class="form-contro" name="Location">
                            <option name="Location" value="Delhi">Delhi</option>
                            <option name="Location" value="Vizag">Vizag</option>
                            <option name="Location" value="Chandigarh">Chandigarh</option>
                        </select>
                </div>       
                <div >
                    <label  id="icon"  for="no_of_members"><i class="fas fa-users"></i></i></label>
                        <select class="form-control hour_input_tag" name="no_of_members">
                            <option value="Single Members">Single Members</option>
                            <option value="Dual Members">Dual Members</option>
                            <option value="Three Members">Three Members</option>
                            <option value="Four Members">Four Members</option>
                            <option value="Ten Members">Ten Members</option>
                        </select>    
               </div>                             
              </div>  
              <div class="mt-3 d-flex flex-row justify-content-center">
                <a href="/DeliciousOffcialPage">
                    <button type="submit" class="get_ready_to_book" >Reservation</button>
                  </a> 
              </div>           
            </form>
          </div>
      </div>      
    </div>
  </body>
</html>
